
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.noto-sans-kr{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0px;
}
nav{
    float: left;
    width: 1250px;
    height: 60px;
    border: 1px dotted rgb(100, 100, 100);
}
header{
    float: left;
    border: 1px dotted black;
    width: 1250px;
    height: 100px;
    text-align: center;
}
header h1{
    margin-top: 15px;
}
main{
    float: left;
    border: 1px dotted black;
    width: 1250px;
    height: 800px;
    text-align: center;
}
#toptx{
    display: inline-block;
    width: 1200px;
    height: 120px;
    text-align: center;
    margin-top: 20px;
    border: 4px dotted rgb(141, 156, 99);
    background-color: rgb(226, 243, 186);
    border-radius: 10px;
}
#toptx h3{
    margin-top: 20px;
}
#dlbtn{
    height: 25px;
    width: 100px;
}
#pv{
    width: 1250px;
    height: 500px;
    background-color: aquamarine;
}
.zpn{
    margin-top: 20px;
    width: 1000px;
    height: 420px;
    display: inline-block;
}
.zlist li{
    list-style: none;
    border: 1px dotted rgb(111, 111, 111);
    background-color: rgb(255, 255, 255);
}
.zlist li label{
    margin-left: 400px;
    display: inline-block;
}
.zlist li div{
    display: inline-block;
}
.thumb{
    margin-right: 100px;
}
#pg{
    margin-top: 80px;
}
footer{
    float: left;
    border: 1px dotted black;
    width: 1250px;
    height: 150px;
    text-align: center;
    background-color: rgb(202, 202, 202);
}
#tf{
    display: inline-block;
    margin-top: 50px;
}
