
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.noto-sans-kr{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0px;
}
nav{
    float: left;
    width: 1250px;
    height: 60px;
    border: 1px dotted rgb(100, 100, 100);
}
header{
    float: left;
    border: 1px dotted black;
    width: 1250px;
    height: 100px;
    text-align: center;
}
header h1{
    margin-top: 15px;
}
main{
    float: left;
    border: 1px dotted black;
    width: 1250px;
    height: 1300px;
    text-align: center;
   
}
#filspan{
    display: inline-block;
    width: 1200px;
    height: 140px;
    text-align: center;
    margin-top: 20px;
    border: 4px dotted rgb(141, 156, 99);
    border-radius: 10px;
    background-color: rgb(226, 243, 186);
}
#filtext{
    margin-top: 20px;
}
#scbtn{
    margin-top: 30px;
    width: 150px;
}
#pv{
    display: inline-block;
    width: 1200px;
    height: 950px;
    margin-top: 40px;
}
.plist li{
    display: inline-block;
    list-style: none;
    width: 180px;
    height: 180px;
}
.thumb{
    margin-top: 0px;
    display: inline-block;
}
.tbtx{
    margin-top: 0px;
}
#pg{
    margin-top: 80px;
}
footer{
    float: left;
    border: 1px dotted black;
    width: 1250px;
    height: 150px;
    text-align: center;
    background-color: rgb(202, 202, 202);
}
#tf{
    display: inline-block;
    margin-top: 50px;
}
